/* Basic reset and styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  transition: background-color 0.5s, color 0.5s;
}

.container {
  text-align: center;
  margin-top: 2em;
}

.child{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 40em;
}
.child1, .child2{
  background-color: cadetblue;
  width: 30%;
  text-align: center;
  padding-top: 2em;
  height: 80%;
  border-radius: 1em;
  border: 1px solid #f0f0f0;
}
h1 {
  margin-top: 20px;
  font-size: 5em;
  transition: color 0.5s;
}
h2{
  font-size: 3em;
  transition: color 0.5s;
}
/* Toggle Switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 34px;
  border: 2px solid rgb(149, 146, 146);
}

.slider:before {
  content: '☀️'; /* Sun icon for light mode */
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  font-size: 18px;
  text-align: center;
}

input:checked + .slider {
  background-color: #333;
}

input:checked + .slider:before {
  transform: translate(26px, -50%);
  content: '🌙'; /* Moon icon for dark mode */
}

/* Light mode */
body.light-mode {
  background-color: #f0f0f0;
  color: #333;
}

/* Dark mode */
body.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}
